*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.433), rgba(0, 128, 0, 0.301));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    flex-wrap: wrap;
}

.kain-dev{
    padding: 25px;
}

.kain-dev h2{
    font-family: 'Orbitron';
    text-shadow: 0px 0px 5px aliceblue;
}

.kain-dev a{
    text-decoration: none;
    color: #49FA00;
    text-shadow: 0px 0px 5px aliceblue;
}

.card{
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .9s;
}

.card-back, .card-front{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    padding: 5px;
}

.card-front img{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card-back img{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


#gameBoard {
    display: flex;
    width: 650px;
    flex-wrap: wrap;
}


.flip{
    transform: rotateY(180deg);
}


.card-front{
    transform: rotateY(180deg);
}


#game-over{
    position: absolute;
    top: 0;
    width: 100%;
    height: 136%;
    background-color: rgba(0, 0, 0, 0.85);
    color: aliceblue;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#restart{
    padding: 15px 20px;
    font-size: 20px;
    background-color: rgb(60, 250, 60);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
